header{
    background-color: rgb(195, 247, 229);
    padding: 20px;
    margin: 20px;
    border: 5px solid brown ;
    border-radius: 20px;
}
.menu{
    display: flex ;
    justify-content: center;
    gap: 20px;
}
a{
    font-size: 20px;
    color: black;
}
#main{
 max-width: 800px;
 width: 100%;
 margin: 0 auto;
 background-color: black;

}
img{
    width: 100%;
}
.pre{
    width: 460px;
}
.ddd{
    max-width: 230px;
}
body{
    background: rgb(139, 212, 2);
}
.rfl{
    max-width: 340px;
}
.put{
    max-width: 350px;
}
.kre{
    max-width: 350px;
}
.pityl{
    max-width: 350px;
}
.yl{
    max-width: 340px;
}
.piter{
    max-width: 340px;
}
.if{
    text-align: center;
}
.chel{
    max-width: 300px;
    display: block;
    margin: 0 auto;
}
.container{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card{
    background: rgb(178, 198, 254);
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
}
.bfl{
    max-width: 340px;   
}
.lukash{
    max-width: 350px;
}